.Nav {
  .bg-color {
    background-color: var(--main-color);
    opacity: 0.9;
  }
  
  a {
    color: var(--color-ligth);
    
    &:hover {
      color: black;
    }
  
    &.active {
      color: black;
      font-weight: bold;
    } 
  }
  
}
