.clubs {
  background-color: #212529;
  margin: 0 0 3rem;
  @media (max-width: 767px) {
    margin-top: -3rem;
  }
  .title {
    text-align: center;
    padding: 1rem 0 0 0;
    color: white;
    p {
      color: tomato;
    }
    h2 {
      padding: 0;
      margin: 0;
    }
  }
  .content {
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      flex-flow: row wrap;
    }
    .card {
      display: flex;
      align-items: center;
      justify-content: center;;
      text-align: center;
      color: white;
      margin: 3rem auto 3rem;
      background-color: transparent;
      width: 45%;
      min-height: 300px;
      border: 2px solid rgb(99, 71, 18);
      @media (min-width: 1199px) {
        border: none;
        max-width: 23%;
      }
      @media (max-width: 767px) {
        width: 95%;
        margin: 1rem;
      }
      .cardTitle {
        font-size: 2rem;
        width: 3rem;
        margin-bottom: 2rem;
        border: 3px solid tomato;
        transform: skew(-13deg);
        box-shadow: 1px 1px 13px red inset;
      }
      .cardText {
        font-size: 1.5rem;
      }
    }
  }
}
